.feynman__link {
  color:  #2f80ed;
  text-decoration: none;
  position: absolute;
  top: 50%;
  right: 48px;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  transition: opacity .4s;
}

.feynman__link:hover {
  opacity: 0.5;
  transition: 0.4s;
}
