.rotation {
  animation-name: rotation;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}

@keyframes rotation {
  from {
    transform: rotate(360deg);
  }
  to {
    transform:rotate(0deg);
  }
}
